{% extends 'invoice.html.twig' %}
{% block title %}Invoice page{% endblock %}
{% block body %}

    <main id="main">
        <div id="main-left">
            <div class="left">
                <section>
                    <header>
                        <div class="top">
                            <p>{{ 'Invoice Managment'| trans }}</p>
                        </div>
                        <div class="bottom">
                            <div class="button-top">
                                <a class="bt-blue3" href="{{ path('app_employer_page') }}">{{ 'Employer managment page'| trans | raw }}</a>
                                <a class="bt-blue3" href="{{ path('app_administrator') }}">{{ 'Customer page'| trans | raw }}</a>
                                <a class="bt-blue3" href="#">{{ 'Add invoice'| trans | raw }}</a>
                                <a class="bt-blue3" href="#">{{ 'Invoice in progress'| trans | raw }}</a>
                            </div>
                            {% include 'administrator/partials/_search_form.html.twig' %}
                        </div>
                    </header>
                    {% include 'partials/_message.html.twig' %}
                    <article class="content">
                        <div class="list-user list-invoice">
                            <a href="{{ path('app_invoice_page', { id: user.id}) }}" class="bt-border">{{ 'New invoice'|trans }}</a>
                            <br /><br /><hr /><br />
                            {% if user.invoices|length > 0 %}
                                {% for invoice in user.invoices %}
                                    {% include 'invoice/partials/_list_invoices.html.twig' %}
                                {% endfor %}
                            {% else %}
                                <p>{{ 'No invoices'|trans }}</p>
                            {% endif %}
                        </div>
                    </article>
                </section>
            </div>
            <div class="right-invoice">
                <section>
                    <header>
                        <div class="top">
                            <p>{{ 'TENANT INVOICING'|trans }}</p>
                        </div>
                    </header>
                    <script>
                        $( function() {$( ".date" ).datepicker({dateFormat: '{{ scriptDateFormat }}'});});
                    </script>
                    <article class="content">
                        <div class="detail-invoice">

                            {{ form_start(invoice_form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                            <fieldset>
                                <h2>{{ 'Invoice'|trans }}</h2>
                                <div class="row">
                                    <div>
                                        <div class="input-flex">
                                            <div>
                                                <label for="lastname">{{ 'form.lastName'|trans }} :</label>
                                                <input type="text" id="lastname" name="" value="{{ user.lastName }}" readonly disabled />
                                            </div>
                                            <div>
                                                <label for="firstname">{{ 'form.firstName'|trans }} :</label>
                                                <input type="text" id="firstname" name="" value="{{ user.firstName }}" readonly disabled />
                                            </div>
                                        </div>
                                        <div class="input-flex">
                                            <div><label class="label-class required" for="edit_invoice_form_total">Total</label>
                                                <input type="text" id="edit_invoice_form_total" name="edit_invoice_form[total]" required="required"
                                                       class="input-select" value="{{ invoice.total|format_currency('EUR') }}" readonly disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="input-flex">
                                            {% if invoice.task.0.startDate is defined %}
                                                <div>
                                                    <label for="startDate">{{ 'Start date'|trans }}: </label>
                                                    <input type="text" id="startDate" name="" value="{{ invoice.task.0.startDate|date("d-m-Y") }}" readonly />
                                                </div>
                                            {% endif %}
                                            {% if invoice.task.0.startDate is defined %}
                                                <div>
                                                    <label for="endDate">{{ 'End date'|trans }}: </label>
                                                    <input type="text" id="endDate" name="" value="{{ invoice.task.0.endDate|date("d-m-Y") }}" readonly />
                                                </div>
                                            {% endif %}
                                        </div>
                                        <br />
                                        <h2>{{ 'Invoice information'|trans }}</h2>
                                        <div class="input-flex">
                                            {{ form_row(invoice_form.number) }}
                                            {{ form_row(invoice_form.date) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="button">
                                    <input type="submit" value="{{ 'Save invoice'|trans }}"/>
                                </div>
                            </fieldset>
                            {{ form_end(invoice_form) }}

                            {% include 'invoice/partials/_table_invoice.html.twig' %}
                            <a href="{{ path('app_invoice_pdf', { id: invoice.id}) }}" style="max-width: 300px; text-align: center" target="_blank" title="Download invoice PDF" class="bt-blue4">
                                {{ 'Generate facture'|trans }}
                            </a>
                        </div>
                    </article>

                </section>
            </div>
        </div>
    </main>
{% endblock %}