<script>
    $( function() {
        $( "#date-start" ).datepicker({
            dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            dayNamesMin: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Ao没t", "Septembre", "Octobre", "Novembre", "Decembre"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jui", "Ao没", "Sep", "Oct", "Nov", "Dec"],
			firstDay: 1,
			dateFormat: '{{ scriptDateFormat }}',
			onSelect: function( dateText, inst ){
				var date = new Date(dateText.replace( /(\d{2})-(\d{2})-(\d{4})/, "$2/$1/$3"));
                $( "#date-end" ).datepicker('setDate', date);
				checkAvailabilityStartDate();
			}
		});
        $( "#date-end" ).datepicker({
            dayNames: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            dayNamesMin: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Ao没t", "Septembre", "Octobre", "Novembre", "Decembre"],
            monthNamesShort: ["Jan", "Fev", "Mar", "Avr", "Mai", "Jui", "Jui", "Ao没", "Sep", "Oct", "Nov", "Dec"],
			firstDay: 1,
			dateFormat: '{{ scriptDateFormat }}'
		});

    } );
</script>

<script>
    function checkAvailabilityStartDate() {
        jQuery.ajax({
            url: "{{ path('app_check_availability', { id: apartment.id}) }}",
            //url: currentUrl,
            data:'date_start='+$("#date-start").val()+'&appartments='+$('#add_renter_form_apartments').val(),
            type: "POST",
            dataType: "json",
            success:function(data){
                $("#user-availability-start-date").html(data.output);
                //alert($("#date-start").val());
				//console.log($('#add_renter_form_apartments').val());
            },
        });
        return false;
    }
</script>

{{ form_start(renter_form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
	<div class="input-group">
		<div class="input-checkbox">
			<label for="group">{{ 'Group'|trans }}</label>
			<input type="checkbox" value="" name="" id="group"/>
		</div>
		<div class="input-checkbox">
			<label for="owner">{{ 'Owner occupancy'|trans }}</label>
			<input type="checkbox" name="add_renter_form[owner_occupation]" id="owner"/>
		</div>
	</div>
    <fieldset>
        <legend>{{ 'Reservation from'|trans }} :</legend>
        <div class="input-flex">
            <div>
                <label for="date-start" class="required">{{ 'Arrival date'|trans }}</label>
                <input type="text" id="date-start" name="add_renter_form[startDate]" placeholder="{{ placeholderDateFormat }}" required="required" />
            </div>
            <div>
                <label for="date-end" class="required">{{ 'Date of departure'|trans }}</label>
                <input type="text" id="date-end" name="add_renter_form[endDate]" placeholder="{{ placeholderDateFormat }}" required="required" />
            </div>
            <div class="hour-start">
                <label for="hour-start">{{ 'Arriving time'|trans }}</label>
                <input type="time" id="hour-start" name="start-hour">
            </div>
            <div class="hour-end">
                <label for="hour-end">{{ 'Departure time'|trans }}</label>
                <input type="time" id="hour-end" name="end-hour">
            </div>
        </div>

        <div id="user-availability-start-date"></div>
		<div class="option-group">
			<label for="add_renter_form_apartments" class="required">{{ 'Choice of apartments'|trans }}</label>
            <div class="input-select-multiple">
                <div>
                    <select name="add_renter_form[apartments][]" multiple="multiple" id="add_renter_form_apartments" requireds>
                        {% for housing in apartments %}
                            <option value="{{ housing.id }}">{{ housing.name }}</option>
                        {% endfor %}
                    </select>
                </div>
			</div>
		</div>

        <div class="input-flex">
            {{ form_row(renter_form.lastName) }}
            {{ form_row(renter_form.firstName) }}
        </div>
        {{ form_row(renter_form.address) }}
        <div class="input-flex">
            <div class="input-cp">
                {{ form_row(renter_form.zip) }}
            </div>
            {{ form_row(renter_form.city) }}
        </div>
        <div class="input-flex">
            {{ form_row(renter_form.telephone) }}
            {{ form_row(renter_form.email) }}
        </div>
        <div class="input-flex">
            <div>
                <div class="input-number">
                    {{ form_label(renter_form.numAdults) }}
                    <div class="number">
                        {{ form_widget(renter_form.numAdults) }}
                    </div>
                </div>
            </div>
            <div>
                <div class="input-number">
                    {{ form_label(renter_form.numChildren) }}
                    <div class="number">
                        {{ form_widget(renter_form.numChildren) }}
                    </div>
                </div>
                <div class="input-number">
                    {{ form_label(renter_form.numLittleChildren) }}
                    <div class="number">
                        {{ form_widget(renter_form.numLittleChildren) }}
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>{{ 'Note'|trans }}</legend>
        <div class="input-description">
            <textarea name="add_renter_form[note]"></textarea>
            <span class="character">0/200</span>
        </div>
        <div class="button">
            <input type="submit" class="bt-blue4" value="Valider"/>
            <button type="reset" class="bt-border">Annuler</button>
        </div>
    </fieldset>

{{ form_end(renter_form) }}