<h2>{{ 'Contents'|trans }}</h2>
<table class="table-invoice">
    <thead>
    <tr>
        <th colspan="2">{{ 'Quantity'|trans }}</th>
        <th>{{ 'Name'|trans }}</th>
        <th>{{ 'Unit price'|trans }}</th>
        <th> {{ 'Amount'|trans }}</th>
        <th>{{ 'Edit'|trans }}</th>
    </tr>
    </thead>
    <tbody>

    {% for contain in invoice.contain %}
        <tr>
            <td class="first">
                <a href="{{ path('app_delete_invoice_contain', { id: contain.id, user: user.id, invoice: invoice.id}) }}"
                   class="_bt-delete btn-delete" onclick="return confirm('{{ 'Are you sure delete row'|trans }}')">
                    {{ 'Delete'|trans }}
                </a>
            </td>
            <td>{{ contain.quantity }}</td>
            <td>
                {% if contain.service %}
                    {{ contain.service.name }}
                {% endif %}
                {% if contain.prestation %}
                    {{ contain.prestation.name }}
                {% endif %}
                {% if contain.material %}
                    {{ contain.material.name }}
                {% endif %}
            </td>
            <td>
                {% if contain.service %}
                    {{ contain.service.price|format_currency('EUR')  }}
                {% endif %}
                {% if contain.prestation %}
                    {{ contain.prestation.price|format_currency('EUR')  }}
                {% endif %}
                {% if contain.material %}
                    {{ contain.material.price|format_currency('EUR')  }}
                {% endif %}
            </td>
            <td>
                {% if contain.service %}
                    {{ contain.service.price|number_format * contain.quantity|number_format}} &euro;
                {% endif %}
                {% if contain.prestation %}
                    {{ contain.prestation.price|number_format * contain.quantity|number_format}} &euro;
                {% endif %}
                {% if contain.material %}
                    {{ contain.material.price|number_format * contain.quantity|number_format}} &euro;
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_edit_invoice_contain', { id: contain.id}) }}" class="bt-edit ajax-popup-link">{{ 'Edit'|trans }}</a>
            </td>
        </tr>
    {% endfor %}

    <tr class="last">
        <td colspan="5">
            <a class="bt-add _link-dialog ajax-popup-link" href="{{ path('app_add_invoice_contain', { id: invoice.id, user: user.id}) }}">
                {{ 'Add row'|trans }}
            </a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <th class="txt-blue4">{{ 'Total'|trans }}</th>
        <th class="total">{{ invoice.total|format_currency('EUR')  }}</th>
    </tr>
    </tfoot>
</table>