<div id="custom-content" class="white-popup-block white-popup-block-padding">
    <div id="add-task" class="_lightbox-std">
        <div class="content-lightbox">
            <div class="left">
                <div class="image">
                    <img src="{{ asset('images/image-task.svg') }}" width="280" height="398" alt=""/>
                </div>
            </div>
            <div class="right">
                <h2>{{ 'Create task'|trans }}</h2>
                {{ form_start(add_task_form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                    <fieldset>
                        {{ form_row(add_task_form.title) }}
                        <div class="input-select-multiple">
                            {{ form_row(add_task_form.users) }}
                        </div>
                        {{ form_row(add_task_form.isEvent) }}

                        {#
                        <div class="input-select-multiple">
                                 {{ form_row(add_task_form.prestations) }}
                        </div>
                        #}

                        <div class="input-select">
                            {{ form_row(add_task_form.housing) }}
                        </div>

                        {#
                        <div>
                               <label>{{ 'form.assigned_whom'|trans }}</label>
                               <div>
                                   <div class="input-select-multiple">
                                       <select multiple="multiple" name="add_task_form[users][]">
                                           {% for employer in employers %}
                                               <option value="{{ employer.id }}">{{ employer.username }}
                                                   {% if employer.firstName %}  - {{ employer.firstName }} {% endif %}
                                                   {% if employer.lastName %}  - {{ employer.lastName }} {% endif %}
                                               </option>
                                           {% endfor %}
                                       </select>
                                   </div>
                               </div>
                           </div>
                        #}

                        <script>
                            $( function() {
                                $( "#date-start" ).datepicker({dateFormat: '{{ scriptDateFormat }}'});
                                $( "#date-end" ).datepicker({dateFormat: '{{ scriptDateFormat }}'});
                            } );
                        </script>

                        <div class="input-flex">
                            <div class="input-date">
                                <label for="date-start" class="required">{{ 'Start date'|trans }}</label>
                                <input type="text" id="date-start" name="start-date" required="required" autocomplete="0">
                            </div>
                            <div class="input-date">
                                <label for="date-end">{{ 'End date'|trans }}</label>
                                <input type="text" id="date-end" name="end-date" autocomplete="0">
                            </div>
                        </div>

                        <div class="input-flex">
                            <div class="hour-start">
                                <label for="hour-start" class="required">{{ 'form.start_hour'|trans }}</label>
                                <input type="time" id="hour-start" name="start-hour" required="required">
                            </div>
                            <div class="hour-end">
                                <label for="hour-end">{{ 'form.end_hour'|trans }}</label>
                                <input type="time" id="hour-end" name="end-hour">
                            </div>
                        </div>

                        <div class="input-flex">
                            <div class="col-4">
                                {{ form_row(add_task_form.color) }}
                            </div>
                        </div>

                        <div class="input-description">
                            <label for="description">{{ 'form.task_description'|trans }}</label>
                            {{ form_widget(add_task_form.description) }}
                            <span class="character">0/200</span>
                        </div>

                        <div class="input-submit">
                            <input type="submit" value="{{ 'form.submit'|trans }}"/>
                            {#
                            {{ form_widget(add_task_form.submit) }}
                            #}
                        </div>
                    </fieldset>
                    {{ form_end(add_task_form) }}
            </div>
        </div>
    </div>
</div>