<div id="custom-content" class="white-popup-block white-popup-block-padding lightbox-settings">
    <div id="add-appartment" class="_lightbox-std">
        <div class="content-lightbox">
            <div class="left">
                <div class="image">
                    <img src="{{ asset('images/image-logement.svg') }}" width="304" height="388" alt="" />
                </div>
            </div>
            <div class="right">
                {% if add_prestattion is defined %}
                    <h2>{{ 'Create a Prestation'|trans }}</h2>
                {% endif %}
                {% if edit_prestattion is defined %}
                    <h2>{{ 'Edit a Prestation'|trans }}</h2>
                {% endif %}
                {{ form_start(prestation_form, {'attr' : {'class': 'form-std', 'autocomplete': 'off'}} ) }}
                <fieldset>
                    <div class="input-checkbox">
                        {{ form_row(prestation_form.isTask) }}
                    </div>
                    <div class="input-select">
                        {{ form_row(prestation_form.name) }}
                    </div>
                    <div class="input-select">
                        {{ form_row(prestation_form.shortName) }}
                    </div>
                    <div class="input-price">
                        {{ form_row(prestation_form.price) }}
                    </div>

                    {#
                    <div class="input-flex input-radio-rental">
                        <div class="velvet">
                            <label>
                                {% if prestation.isRenter is defined %}
                                    <input type="radio" name="prestation_form[isRenter]" value="renter" {% if prestation.isRenter == 1 %} checked {% endif %} required>
                                {% else %}
                                    <input type="radio" name="prestation_form[isRenter]" value="renter" required>
                                {% endif %}
                                {{ 'Renter'|trans }}
                            </label>
                        </div>
                        <div class="green">
                            <label>
                                {% if prestation.isOwner is defined %}
                                    <input type="radio" name="prestation_form[isRenter]" value="owner" {% if prestation.isOwner == 1 %} checked {% endif %}>
                                {% else %}
                                    <input type="radio" name="prestation_form[isRenter]" value="owner">
                                {% endif %}
                                {{ 'Owner'|trans }}
                            </label>
                        </div>
                    </div>
                    #}

                    <div class="input-checkbox">
                        {{ form_row(prestation_form.isRenter) }}
                    </div>
                    <div class="input-checkbox">
                        {{ form_row(prestation_form.isOwner) }}
                    </div>
                    <div class="input-submit">
                        <input type="submit" value="{{ 'form.submit'|trans }}"/>
                    </div>
                    {{ form_end(prestation_form) }}
            </div>
        </div>
    </div>
</div>

